*/.idea
*/.vscode
*/CMakeFiles
rdma-example/server
rdma-example/client
rdma-example/Testing
rdma-example/CMakeCache.txt
rdma-example/Makefile
rdma-example/build
rdma-example/src/read-write-rdma
*.cmake
*.log
*.cbp

.vagrant/
RDMA-Tutorial/
benchmark/
bencz.zip
books-src/
ibdump/
ibverbs-send-examples/
libfabric/
mstflint/
old-c/
pmem-examples/
pmem-rdma/
rdma-core/
rdma-examples/
rdma-write-example/
rwbenchmark/build
rwbenchmark2/build
*/.ccls-cache
pmdk/
