*/.idea
*/.vscode
*/CMakeFiles
rdma-benchmark/server
rdma-benchmark/client
rdma-benchmark/Testing
rdma-benchmark/CMakeCache.txt
rdma-benchmark/Makefile
*.cmake
*.log
*.cbp

.vagrant/
RDMA-Tutorial/
benchmark/
bencz.zip
books-src/
ibdump/
ibverbs-send-examples/
libfabric/
mstflint/
old-c/
pmem-examples/
pmem-rdma/
rdma-core/
rdma-examples/
rdma-write-example/
rwbenchmark/build
*/.ccls-cache
